* {
  padding: 0;
  margin: 0;
}
.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5rem;
}

.gradiente, .vazado, .cintilante {
  padding: 1rem 3rem;
  outline: none;
  border: none;
  background: transparent;
  font-size: 1.3rem;
  cursor: pointer;
}
.vazado{
  outline: 3px solid black;
  border-radius: 12px;
  box-shadow: 7px 7px 0px black;
}

.vazado:hover {
  box-shadow: none;
  transition: 0.5s;
  background-color: black;
  color: white;
}